# Dependencies
node_modules/
.pnp.*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Build outputs
dist/
build/
coverage/
*.tsbuildinfo

# Env/secrets
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp
